<div class="bg bg-white bg-shadowed text-center container padded marged">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :picture, label: "Add a link to an online picture" %>
      <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
