<div class="my-header">
  <h1>Modify <%= @cocktail.name %>'s name or picture</h1>
  <hr>
</div>
<%= render 'form' %>
<div class="text-center">
  <%= link_to cocktail_path(@cocktail), class: "btn btn-primary" do %>Back to <%= @cocktail.name %><% end %>
</div>
