/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media screen and (min-width: 300px) {
  .marged {
    margin: 3em auto;
  }
}


// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
.bg {
  position: relative;
  &-shadowed {
    box-shadow: 1px 1px 3px rgb(215,215,215);
  }
  &-white {
    background-color: white;
  }
}
